/* variable colors */
:root {
  --main-nav-color: #4444FF;
  --second-theme-color: #6969FF;
  --main-logo-color: #F1F1F1;
  --option-active: #303a43;
  --letter-main-color: white;
}

body, html {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

/* Navigation bar */

.navbar {
  opacity: 95% !important;
  padding .8rem;
  transition: .1s ease-in-out;
  background-color: var(--main-nav-color) !important;
}
.navbar.scroll{
  -webkit-box-shadow: 0px 6px 8px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 6px 8px -5px rgba(0,0,0,0.75);
box-shadow: 0px 6px 8px -5px rgba(0,0,0,0.75);
}

.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.1em !important;
}
.navbarPreview {
  height: 50px;
  position: absolute;
}

/* company logo */
#companyName{
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  font-size: 33px;
  color: var(--letter-main-color);
}

  /* collapse nav */
  /* collapse button */
  .navbar-toggler{
    border: none;
    outline: none;
  }
  .navbar-toggler:focus{
    outline: none;
  }
  .navigationColapseIcon{
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    outline: none;
  }
.navigationColapseIcon span{
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  outline: none;
  }

  .navigationColapseIcon span {
  background: var(--main-logo-color);
  }

  .navigationColapseIcon span:nth-child(1) {
  top: 0px;
  }

  .navigationColapseIcon span:nth-child(2) {
  top: 10px;
  }

  .navigationColapseIcon span:nth-child(3) {
  top: 20px;
  }

  .navigationColapseIcon.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  }

  .navigationColapseIcon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
  }

  .navigationColapseIcon.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  }

  .collapse{
    height: 80%;
  }


  /* Page content */

#pg-content{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--main-logo-color);
  padding-top: 100px;
  padding-left: 0;
  padding-right: 0;
}

/* login option */
#pg-content h1 {
  font-size: 30px;
  outline: none;
  color: var(--option-active);
  display: inline-block;
  position: relative;
}
.login-tittle::after{
  border-bottom: 4px solid var(--option-active);
  bottom: -12px;
  content: "";
  left: 0;
  position: absolute;
  width: 49px;
}

/* form container */
#form-container{
  background: var(--main-logo-color);
  color: #525f7f;
  margin-top: 25px;
  padding: 30px 30px 20px;
  border: none;
  border-radius: 20px 20px 5px 5px;
  box-shadow: 4px 4px 4px 3px rgba(0, 0, 0,.3), -1px -1px 5px 5px rgba(255, 255, 255,1) !important;
}

/* login form */
.form-group {
  clear: both;
  float: left;
  margin: 0 0 30px;
  width: 100%;
  position: relative;
}
/* login button */
.submitbtn {
  margin-top: 15px;
}
.submitbtn button {
  width: 100%;
  height: 45px;
  outline: none;
  border: none;
  border-radius: 8px;
  color: var(--main-logo-color);
  font-size: 1rem;
  font-weight: bold;
  background: var(--second-theme-color);
  /* box-shadow: 6px 6px 10px 0 rgba(104, 104, 255,.4), -6px -6px 10px 0 rgba(255, 255,255,1); */
  box-shadow: 4px 5px 5px 3px rgba(104, 104, 255,.45), -3px -3px 5px 6px rgba(255, 255, 255,1) !important;
  transition: padding 100ms ease-in, box-shadow 100ms ease-in;
}
.submitbtn button:active {
  box-shadow: 4px 5px 5px 3px rgba(104, 104, 255,.45), -3px -3px 5px 6px rgba(255, 255, 255,1), inset 2px 2px 4px #000000, inset -2px -2px 3px white !important;
  padding-bottom: 4px;
  padding-right: 8px;
  transition: padding 100ms ease-out, box-shadow 100ms ease-out;
}
/* controling the from elements */
.form-control {
  padding: 0 0 0 10px;
  border: medium none;
  border-radius: 0;
  box-shadow: none !important;
  border-bottom: 2px solid #dae1e7;
  font-size: 16px;
  background-color: inherit;
}
.form-control:focus {
  background: inherit;
  box-shadow: 3px 3px 4px 2px rgba(0, 0, 0,.3), -1px -1px 5px 5px rgba(255, 255, 255,1) !important;
}


/* Different Sizes */
@media (min-width: 768px) {
  .col-lg-6{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

}
